{% if include.slub_key != nil %}
  {% assign lookup_key = include.slub_key %}
{% else %}
  {% assign lookup_key = include.field.key %}
{% endif %}

<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <a data-toggle="collapse" href="#{{ lookup_key }}Collapse" aria-expanded="false" aria-controls="{{ lookup_key }}Collapse">{{ include.field.key }}</a>
    </h4>
    <h6 class="card-subtitle">
      {% include attribute_elements.html attribute=attribute %}
    </h6>
    <div class="collapse" id="{{ lookup_key }}Collapse">
      <p class="card-text">
        {{ include.field.description }}
      </p>
      {% if include.field.type == 'hash' %}
        {% for attribute in include.field.attributes %}
          {% capture slub_key %}{{ lookup_key }}_{{ attribute.key }}{% endcapture %}
          {% include argot_field.html field=attribute slub_key=slub_key %}
        {% endfor %}
      {% else %}
      <h5>MARC Associations</h5>
      <table class="table">
        <thead>
        <tr>
          <th>UNC</th>
          <th>NCSU</th>
          <th>Duke</th>
          <th>NCCU</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {% include marc_assocs.html lookup_key=lookup_key school='unc' %}
          </td>
          <td>
            {% include marc_assocs.html lookup_key=lookup_key school='ncsu' %}
          </td>
          <td>
            {% include marc_assocs.html lookup_key=lookup_key school='duke' %}
          </td>
          <td>
            {% include marc_assocs.html lookup_key=lookup_key school='nccu' %}
          </td>
        </tr>
        </tbody>
      </table>

      <h5>Solr Index</h5>
      <h5>UI Views</h5>
      {% endif %}
    </div>
  </div>
</div>

