<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TRLN SDS Wiki - {{ page.title }}</title>
    <meta name="description" content="Documentation for the TRLN Shared Discovery Services">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header class="mb-2">
    <div class="container mt-1">
        <div class="row">
            <div class="hidden-xs-down col-sm-12 col-md-9 col-lg-10">
                {% include header-breadcrumb.html %}
            </div>
            <div class="hidden-sm-down col-md-3 col-lg-2">
                <img src="/assets/images/TRLN_logo_abbrev_rgb.png" class="img-fluid">
            </div>
        </div>
    </div>
</header>

