<!--
 Based on: https://gist.github.com/csgruenebe/8f7beef9858c1b8625d6
 -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
    {% capture current_page_url %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% assign split_url_parts = current_page_url | split: '/' %}
    {% capture bc_depth %}{{ split_url_parts.size | minus:1 }}{% endcapture %}
    {% for i in (1..bc_depth) %}
        {% capture current_bc_url %}{{next_prepender}}/{{ split_url_parts[i] }}/{% endcapture %}
        {% capture next_prepender %}{{next_prepender}}/{{ split_url_parts[i] }}{% endcapture %}

        {% for bc_page in site.pages %}
            {% if current_bc_url == bc_page.url %}
                {% assign j = bc_depth | plus: 0 %}
                {% capture active_bc %}{% if i == j %}active{% else %}{% endif %}{% endcapture %}
                <li class="breadcrumb-item {{ active_bc }}">
                    {% capture bc_page_url %}{{ bc_page.url | remove: "index.html" }}{% endcapture %}
                    <a href="{{ site.baseurl }}{{ bc_page_url }}">{{bc_page.breadcrumb}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ol>