<div class="row">
    <div class="col-12">
        <table class="table table-hover table-sm table-responsive">
            <thead>
                <tr>
                    <th>Argot Key</th>
                    <th>Type</th>
                    <th>Indexed</th>
                    <th>Multi-Valued</th>
                    <th>Marc Associations</th>
                    <th>Solr Indexed Key</th>
                    <th>Solr Stored Key</th>
                    <th>Endeca Property</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for field in site.data.argot %}
                    {% include argot/argot_table/argot_field.html field=field key=field.key %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

