<h4>Solr Index</h4>
<table class="table">
    <thead><tr><th>Indexed</th><th>Stored Key</th></tr></thead>
    <tbody>
        <tr>
            <td>
                {% if include.field.type == 'gvo' %}
                    {{ include.key }}_t
                    <br>
                    {{ include.key }}_*_v <em>where * is the 3 letter lang code</em>
                {% else %}
                    {% if include.field.indexed %}
                        {% if include.field.solr_attr contains 'sort' %}
                            {% if include.field.type == "i" || include.field.type == "float" || include.field.type == "long" || include.field.type == "double" %}
                                {{ include.key }}_isort
                            {% else %}
                                {{ include.key }}_ssort
                            {% endif %}
                        {% else %}
                            {{ include.key }}_{{ include.field.type }}
                        {% endif %}
                    {% else %}
                        Not indexed
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if include.field.solr_attr contains 'stored' || include.field.type == 'gvo' %}
                    {% if include.field.multi %}
                        {{ include.key }}_a
                        {% if include.field.type == 'gvo' %}
                            <br>
                            {{ include.key }}_v_a
                        {% endif %}
                    {% else %}
                        {{ include.key }}
                    {% endif %}
                {% else %}
                    Not Stored
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
